.button {
  display: inline-block;
  padding: 20px 75px;
  font-size: $link-size;
  font-weight: $bold-format;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0,0,0,.20) inset;
  background-image: linear-gradient(-180deg, #C32D7B  0%, #B6216E  100%);
  color: $white;
  letter-spacing: 2px;

  &:hover {
    background-image: linear-gradient(-180deg, darken($violet, 5%)  0%, darken(#B6216E, 5%)  100%);
  }

  &.small {
    padding: 15px;
  }

  &.blue {
    background-image: none;
    background: $blue;
    &:hover {
      background: darken($blue, 10%);
    }
  }
}

li, a, img {
  &:focus {
    outline: none;
  }
}

.footer-partner {
  height: 90px;
}

.footer-partner-big {
  height: 70px;
}
