.button {
  display: inline-block;
  padding: 10px 55px;
  font-size: $link-size;
  text-align: center;
  text-transform: uppercase;

  &.big {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 38px;
    font-weight: $light-format;
  }

  &.yellow {
    background-color: $yellow;
    &:hover {
      background-color: darken($yellow, 10%);
    }
  }

  &.violet {
    background-color: $violet;
    &:hover {
      background-color: darken($violet, 10%);
    }
  }

}
