$max-width-size: 1200px;
$min-width-size: 960px;

// Colors
$violet: #c32d7b;
$blue: #3bb2d0;
$gray: #b9bfc4;
$light-gray: #f2f2f2;
$dark-gray: #6c7379;
$green: #65b60d;
$yellow: #ffe100;
$white: #fff;
$black: #000;
$light-black: #4c4c4c;

// Typography
$h1-size: 80px;
$h2-size: 48px;
$h3-size: 33px;
$regular-font-size: 18px;

$link-size: 14px;

$light-format: 300;
$regular-format: 400;
$bold-format: 700;

