$max-width-size: 1200px;
$min-width-size: 960px;

// Colors
$violet: #c32d7b;
$blue: #3bb2d0;
$light-gray: #f2f2f2;
$green: #65b60d;
$yellow: #ffe100;
$white: #fff;
$black: #000;

// Typography
$h1-size: 80px;
$h2-size: 48px;
$h3-size: 35px;
$regular-font-size: 18px;

$link-size: 14px;

$light-format: 300;
$regular-format: 400;
$bold-format: 700;

