.l-section {
  padding: 100px 1rem;

  &.-even {
    background-color: $even-bg-color;
  }

  @media screen and (min-width: $small-device) {
    padding-left: 0;
    padding-right: 0;
  }
}

#globalDataPartnership {
  padding-bottom: 200px;

  background-image: url('../images/tablet6.png');
  background-repeat: no-repeat;
  background-position: 35% 100%;
  background-size: 90% auto;

  @media screen and (min-width: $small-device) {
    padding-bottom: 50px;

    background-position: -15% 100%;
    background-size: 60% auto;
  }
}
