.description {
  .row {
    position: relative;
  }

  .slider-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .slider {
      width: 95%;
      margin-bottom: 0;

      .img-box {
        text-align: center;
        height: 651px;
      }

      .slick-dots {
        bottom: 20px;
      }
    }
  }
}
