footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background: $black;
  text-align: center;
  font-size: 13px;
  p, a {
    color: $white;
  }

  p {
    margin: 0;
    padding: 10px 0;
  }
}
