.introduction {
  overflow: hidden;
  position: relative;
  height: 100vh;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: url('../assets/bg-header.jpg') no-repeat 50% 0;
  }
  .row {
    z-index: 1;
    header {
      text-align: center;

      .logo {
        height: 148px;
        margin: 0 auto 2%;
        background: url('../assets/logo.svg') no-repeat center
      }

      h1, p {
        color: $white;
        font-weight: $light-format;
      }
      h1 {
        margin: 0;
        font-size: $h1-size;
        line-height: 1;
      }

      p {
        margin: 25px auto 5%;
        font-weight: $regular-format;
      }
    }

    footer {

      display: block;
      background: none;

      .play-video {
        margin-left: 30px;
        color: $white;
        font-size: $link-size;
        text-transform: uppercase;
        &:before {
          content: '';
          display: inline-block;
          width: 28px;
          height: 28px;
          margin-right: 15px;
          vertical-align: middle;
          background: url('../assets/play.svg') no-repeat;
        }

        video {
          width: 100%;
        }
      }
    }
  }
  .container-next {
    display: flex;
    position: absolute;
    top: auto;
    bottom: 15px;
    left: 0;
    right: 0;
    justify-content: center;
    .next{
      display: block;
      width: 40px;
      height: 40px !important;
      margin: auto;
      background: url('../assets/arrow-down.svg') no-repeat center;
      opacity: 1;
      visibility: visible;
      transition: visibility 1s ease, opacity 1s ease;
    }
  }
}
