.introduction {
  background: url('../assets/bg-header.png') no-repeat center fixed;
  background-size: cover;
  header {
    text-align: center;

    .logo {
      width: 120px;
      height: 148px;
      margin: 0 auto 60px;
      background: url('../assets/logo.svg') no-repeat center
    }

    h1, p {
      color: $white;
      font-weight: $light-format;
    }
    h1 {
      margin: 0;
      font-size: $h1-size;
      line-height: 1;
    }

    p {
      margin: 25px auto 125px;
      font-weight: $regular-format;
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    a:first-child {
      margin-right: 35px;
    }

    .play-video {
      color: $yellow;
      font-size: $link-size;
      text-transform: uppercase;
    }
  }
}
