#modal-join {
  width: 640px;
  position: fixed;
  margin: 0px;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (min-width: 1280px) {
    width: 700px;
    padding: 40px 0px;
  }

  #mc_embed_signup {

    #mce-responses {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .response {
        padding: 0;
        width: 500px;
        margin: 15px auto;
        size: 16px;
        font-weight: $regular-format;
        @media only screen and (min-width: 1280px) {
          width: 520px;
        }
      }
    }


    form {
      padding: 0;
    }

    h2 {
      font-family: 'Lato', 'Helevetica', sans-serif;
      font-weight: $light-format;
      font-size: $regular-font-size;
      text-align: center;
      font-size: 32px;

      @media only screen and (min-width: 1280px) {
        font-size: 48px;
        margin-bottom: 35px;
      }
    }

    .mc-field-group {
      width: 420px;
      margin: 0px auto;
      color: $dark-gray;

      @media only screen and (min-width: 1280px) {
        max-width: 500px;
      }

      .mc-label-group {
        text-transform: uppercase;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-weight: $bold-format;
        font-size: 11px;
        letter-spacing: 1px;

        // margin-top: 20px;
        margin-bottom: 5px;

        .indicates-required {
          color: $violet;
          margin: 0;
        }
      }

      input {
        width: inherit;
        line-height: 30px;
        padding-left: 10px;

        border-radius: 5px;
        border: 1px solid $gray;

        text-transform: none;
        font-size: 14px;
        color: $dark-gray;

        &:focus {
          color: $dark-gray;
        }

        @media only screen and (min-width: 1280px) {
          line-height: 32px;
          font-size: $regular-font-size;
        }
      }

      input.mce_inline_error {
        border-color: #F00;
      }

      div.mce_inline_error {
        background-color: $white;
        color: #F00;
        border-color: #F00;

        margin: 0;

        font-weight: $bold-format;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}









