.m-partners {
  border: 1px solid #e3e4e6;
  border-left: 0;
  border-right: 0;
  padding: 0 !important;

  .partners-title {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: #b9bfc4;
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    width: 100px;
    margin: 0 auto;
    left: 50%;
    transform: translatey(-50%);

      a {
        color: #b9bfc4;
        text-decoration: none;
      }
  }

  ul {
    margin: 0;
    padding: 30px 0;
    // display: flex;
    .slick-arrow {
      position: absolute;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  li {
    list-style: none;
    float: left;
    // margin-right: 60px;

    a {
      display: flex;
      align-items: center;
      min-height: 50px;
      img{
        display: block;
        margin: 0 auto;
      }
    }

    a.is-link {
      cursor: default;
      transition: filter 0.2s, opacity 0.2s;
    }

    &:hover {
      a.is-link {
        filter: grayscale(100%);
        opacity: 0.4;
      }
    }

  }

  // @media screen and (max-width: $responsive-break--tablet) {

  //   margin-top: 40px;

  //   ul {
  //     flex-wrap: wrap;
  //     padding: 0;
  //     justify-content: space-around;
  //   }

  //   li {
  //     flex-basis: 40%;
  //     margin-right: 0;
  //     margin-bottom: 10px;
  //     display: flex;
  //     justify-content: space-around;
  //   }

  // }

  // @media screen and (min-width: $responsive-break--mobile) and (max-width: $responsive-break--tablet) {
  //   li {
  //     flex-basis: 28%;
  //   }
  // }

}


.partners {
  footer {
    display: block;
    background: none;

    h3 {
      margin-bottom: 25px;
      font-size: 33px;
      font-weight: $light-format;
    }
  }

}
