.partners {
  padding: 75px 0 100px !important;
  header {
    text-align: center;
    .wri-logo {
      display: inline-block;
      width: 189px;
      height: 68px;
      background: url('../assets/partners/wri-big.png') no-repeat;
    }
    h2 {
      margin: 35px 0 65px;
      font-size: 70px;
      color: $light-black;
    }

  }

  ul {
    margin: 0;
    padding: 30px 0;
    width: 100%;

    .slick-arrow {
      position: absolute;
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    .slick-track {
      display: flex;
      align-items: stretch;
    }

    .slick-slide {
      height: auto;
      display: flex;
    }
  }

  li {
    list-style: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  footer {
    display: block;
    background: none;

    h3 {
      margin-bottom: 25px;
      font-size: 33px;
      font-weight: $light-format;
    }
  }

}
