.signals {
  padding: 0 !important;

.row { overflow: hidden;}

.custom-slider {
  position: relative;
  overflow: hidden;
  width: 200%;
  margin-top: 75px;



  .slide-1, .slide-2 {
    float: left;
    width: 50%;
  }

  h2 {
    //text-align: center;
  }

  .move-left {
    transition: transform .3s;
    transition-timing-function: ease-in-out;
    transform: translateX(-100%);
  }

  .move-right {
    transition: transform .3s;
    transition-timing-function: ease-in-out;
    transform: translateX(0);
  }

  section {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    .link-signals {
      display: inline-block;
      margin: 35px 0;
      font-size: $link-size;
      text-transform: uppercase;
      font-weight: $bold-format;
      color: $green;
      &:before {
        content: '';
        display: inline-block;
        width: 29px;
        height: 29px;
        margin-right: 10px;
        vertical-align: middle;
        background: url('../assets/what.svg') no-repeat center;
      }
    }
  }

  .signals-container {
    display: flex;
    align-items: center;
    .signals-animation {
      width: 600px;
      height: 570px;
      background: url('../assets/signals_2.gif') no-repeat center;
      background-size: 440px;
      position: absolute;
      top: -148px;
      bottom: auto;
    }

    .back {
      color: $green;
      font-size: $link-size;
      font-weight: $bold-format;
      text-transform: uppercase;
    }
  }


  .video-container {
    display: flex;
    justify-content: center;
  }
}

}
