.get-involved {
  text-align: center;
  h2 {
    text-align: center;
    margin-top: 0;
  }
  a {
    &:last-child{
      margin-top: 30px;
    }
    @media screen and (min-width: $medium-width-size) {
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
