.m-slider {
  margin: 1rem 0 3rem 0;
  text-align: center;
}

.slick-slide {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slick-track {
  margin-left: auto;
  margin-right: auto
}
