<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Global Power Watch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  </head>
  <body>
    <nav class="l-nav -hide" id="navigation">
      <div class="row align-justify align-middle">
        <div class="column small-6">
          <div class="text-left">
            <img src="<%= require('./images/logo_b.svg') %>" width="350" height="100">
          </div>
        </div>
        <div class="column small-6">
          <div class="text-right"><a href="#join" class="button">Join us</a></div>
        </div>
      </div>
    </nav>

    <header class="l-header -inverse">
      <div class="l-header-content">
        <div class="row align-center">
          <div class="column small-12 medium-8">
            <h1 class="text-center"><img src="<%= require('./images/logo.svg') %>" width="350" height="100"></h1>
            <p class="text-center">Bringing transparency and accountability to the global power sector to <br> accelerate the shift to a clean energy future</p>
            <p class="text-center"><a href="#join" class="button">Join us</a></p>
          </div>
        </div>
      </div>
      <div class="m-scroll-arrow" id="scrollButton"></div>
    </header>

    <section class="l-section">
      <div class="row">
        <div class="column small-12">
          <article>
            <div class="row align-center">
              <div class="column small-12">
                <h2 class="text-center">Decision makers across the economy need access to comprehensive, accurate, <br> and relevant data to make informed energy decisions.</h2>
              </div>
            </div>
            <div class="row align-center">
              <div class="column small-12 medium-8">
                <p>Power Watch is working to meet that need by creating the world’s most comprehensive, open source database of the global power sector.</p>
                <p>Mapping of power plant location, plus analytical tools for emissions accounting, water use, and other climate impacts will be layered on top of the database to help users make more informed energy related decisions.</p>
                <p>This type is critically important to navigating the interplay between achieving climate, energy, and development targets at the global level, as well as making local energy investment decisions. The tools and underlying data can support companies, government officials, utilities, data analysts, and citizens, among others.</p>
              </div>
            </div>
            <div class="row align-center">
              <div class="column small-12">
                <video class="m-video" autoplay="true" loop="true" src="<%= require('./videos/landscapes_1.mp4') %>"></video>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="l-section -even" id="globalDataPartnership">
      <div class="row align-right">
        <div class="column small-12 medium-5">
          <article>
            <h2>A global data partnership</h2>
            <p><strong>Power Watch</strong> is made up of a partnership of research organizations, universities, non-profits, and data innovators, who are coming together with unique data and expertise to build the world’s most comprehensive, open source platform of global power systems.</p>
            <p>Through open data, the platform and its tools will help catalyze accountability for policy makers, businesses and investors to accelerate the transition to a clean energy future while achieving development targets.</p>
          </article>
        </div>
      </div>
    </section>

    <section class="l-section">
      <div class="row">
        <div class="column small-12">
          <h2 class="text-center">How can Power Watch help me?</h2>
        </div>
        <div class="column small-12 medium-6">
          <article class="m-feature-card">
            <div class="thumb">
              <img src="<%= require('./images/icon-citizens.svg') %>" alt="Citizens">
            </div>
            <div class="text">
              <h3>Citizens</h3>
              <p>Citizens will be empowered to better understand their local power systems and demand improvements.</p>
            </div>
          </article>
        </div>
        <div class="column small-12 medium-6">
          <article class="m-feature-card">
            <div class="thumb">
              <img src="<%= require('./images/icon-organisations.svg') %>" alt="Companies">
            </div>
            <div class="text">
              <h3>Companies</h3>
              <p>Companies and cities will be able to monitor their greenhouse gas emissions from purchased electricity more easily and more accurately.</p>
            </div>
          </article>
        </div>
        <div class="column small-12 medium-6">
          <article class="m-feature-card">
            <div class="thumb">
              <img src="<%= require('./images/icon-governments.svg') %>" alt="Governments">
            </div>
            <div class="text">
              <h3>Governments</h3>
              <p>Governments will be able to measure the effect of power generation policies on climate, pollution, water stress, and electricity access.</p>
            </div>
          </article>

        </div>
        <div class="column small-12 medium-6">
          <article class="m-feature-card">
            <div class="thumb">
              <img src="<%= require('./images/icon-researchers.svg') %>" alt="Investors">
            </div>
            <div class="text">
              <h3>Investors</h3>
              <p>Investors will be able to incorporate water risk, emissions and other impacts into their decisions.</p>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="l-section -even">
      <div class="row align-center">
        <div class="column small-12 medium-8">
          <h2 class="text-center">Part of the Resource Watch platform</h2>
          <p class="text-center">Power Watch is part of Resource Watch, an open platform that brings together data on a variety of natural resources to illuminate important trends and provide insights to those working on the frontlines of development and environmental protection.</p>
          <p class="text-center">Resource Watch combines advanced monitoring systems, satellite imagery, data, cloud computing, mobile technology, and artificial intelligence to create transparency, accessibility, and urgency around the evolving dynamics of the world’s resources.</p>
        </div>
      </div>
    </section>

    <section class="l-section" id="join">
      <div class="row align-center">
        <div class="column small-12">
          <h2 class="text-center">How can I get involved?</h2>
          <div class="text-center">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEBpJurlrxxndIm_TC3cxGiKGdV3S2YwiUjdnuCGuNd1NCsA/viewform" class="secondary button">Sign up for newsletter</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmJXF2Da8Gj3ttc0WFRkXV2ZpwwafKPPGQx_Mpu4BGWufWlQ/viewform" class="secondary button">Become a partner or reviewer</a>
          </div>
        </div>
      </div>
    </section>

    <section class="l-section -even">
      <div class="row align-center">
        <div class="column small-12 medium-8 small-centered">
          <h2 class="text-center">Founding partners</h2>
          <div class="m-slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "centerMode": true}'>
            <div><img src="<%= require('./images/partners/wri.png') %>" alt="World Resources Institute"/></div>
            <div><img src="<%= require('./images/partners/google.png') %>" alt="Google"/></div>
          </div>
        </div>
        <div class="column small-12 medium-8 small-centered">
          <h2 class="text-center">Research Partners</h2>
          <div class="m-slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "centerMode": true}'>
            <div><img src="<%= require('./images/partners/kth-stockholm.png') %>" alt="KTH Stockholm"/></div>
            <div><img src="<%= require('./images/partners/global.jpg') %>" alt="Global Energy Observatory"/></div>
          </div>
        </div>
        <div class="column small-12 medium-8 small-centered">
          <h2 class="text-center">Funders</h2>
          <div class="m-slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "variableWidth": true, "centerMode": true}'>
            <div><img src="<%= require('./images/partners/google.png') %>" alt="Google"/></div>
          </div>
        </div>
        <div class="column small-12">
          <p class="-big text-center">See yourself as part of this team?</p>
          <p class="text-center"><a href="mailto:powerwatch@wri.org" class="button">Get in touch via email!</a></p>
        </div>
      </div>
    </section>

  </body>
</html>
